@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;


:root{
  font-family: 'Noto Sans', sans-serif;
  color-scheme: light dark;
  color: black;
  background-color: whitesmoke
}


@tailwind utilities;


